src/main/resource/META-INF/shux.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.shux-tech.com/schema/shux"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://www.shux-tech.com/schema/shux">
	
	<xsd:complexType name="serviceType">
		<xsd:attribute name="id" type="xsd:string" use="required" >
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The interfaces name of ref. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="interfaces" type="xsd:string" use="optional" >
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The interfaces name of ref. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ref" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The interfaces Class ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="service" type="serviceType">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ Service provider config ]]></xsd:documentation> 
		</xsd:annotation>
	</xsd:element>
</xsd:schema>